
h1 {
    text-align: center;
}


.gems-list {
    margin-top: 5px;
    /* padding: 10px 10px 10px 10px; */
    /* border-style: solid; */
    /* border-color: blue; */
    /* border-radius: 5px; */
}

.gems-list h3 {
    margin-left: 10px;
}


.player-display {
    border-color: red;
    border-radius: 5px;
    border-style: solid;
}

.player-display h3 {
    margin-left: 10px;
}

.market-display {
    border-color: green;
    border-radius: 5px;
    border-style: solid;
}

.market-display h3 {
    margin-left: 10px;
}

.card-display {
    border-color: black;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    margin: 5px;
    padding: 5px;
}


body {
    background-color: lightyellow;
}

.row {
    display: flex;
}
.column-left {
    flex: 34%;
    padding-left: 5px;
    padding-right: 5px;
}

.column-right {
    flex: 66%;
    padding-left: 5px;
    padding-right: 5px;
}

.single-line-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    list-style: none;
    padding: 0;
    /* white-space: nowrap; */
}

.points {
    text-align: right;
    font-weight: bold;
    margin-right: 5px;
}

.unstyled-list {
    list-style: none;
    padding-left: 0px;

}
