
h1 {
    text-align: center;
}


.gems-list {
    margin-top: 5px;
    /* padding: 10px 10px 10px 10px; */
    /* border-style: solid; */
    /* border-color: blue; */
    /* border-radius: 5px; */
}

.gems-list h3 {
    margin-left: 10px;
}


.player-display {
    border-color: red;
    border-radius: 5px;
    border-style: solid;
}

.player-display h3 {
    margin-left: 10px;
}

.market-display {
    display: flex;
    height: 25vh;
    border-color: green;
    border-radius: 5px;
    border-style: solid;
}

.market-display h3 {
    margin-left: 10px;
    width: 10%;
    text-align: center;
    vertical-align: middle;
    align-self: center;
    font-size: 35px;
}

.card-display {
    display: inline-block;
    width: 25%;
    margin: 8px;
}

.card-display-button {
    border-color: black;
    border-radius: 8px;
    border-style: solid;
    border-width: 3px;
    margin: 5px;
    padding: 5px;
    height: 100%;
    width: 100%;

}

/* .card-display:hover { */
/*     margin-top: 8px; */
/* } */


body {
    background-color: #ffffee;
}

.row {
    display: flex;
}
.column-left {
    flex: 34%;
    padding-left: 5px;
    padding-right: 5px;
}

.column-right {
    flex: 66%;
    padding-left: 5px;
    padding-right: 5px;
}

.single-line-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    list-style: none;
    padding: 0;
    /* white-space: nowrap; */
}

.points {
    text-align: right;
    font-weight: bold;
    margin-right: 5px;
    font-size: 30px;
}

.unstyled-list {
    list-style: none;
    padding-left: 0px;
    
}

.gem-counter {
    border-style: solid;
    border-radius: 50%;
    margin: 5px;
    padding: 10px;
    border-color: 'pink';
    font-size: 24px;
    font-weight: bold;
    border-width: 4px;
}
