
h1 {
    text-align: center;
}


.gems-list {
    margin-top: 5px;
    /* padding: 10px 10px 10px 10px; */
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
}

.gems-list h3 {
    margin-left: 10px;
}


.player-display {
    border-color: red;
    border-radius: 5px;
    border-style: solid;
}

.player-display h3 {
    margin-left: 10px;
}

.market-displays {
    height: 75vh;
    max-width: 66vh;
    max-height: 70vw;
    border-color: yellow;
    border-radius: 5px;
    border-style: solid;
}

.market-display {
    display: flex;
    height: 33.333%;
    border-color: green;
    border-radius: 5px;
    border-style: solid;
}

.market-display h3 {
    min-width: 8%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    align-self: center;
    font-size: 35px;
}

.market-display ul {
    /* padding: 0px; */
    /* margin: 0px; */
    height:90%;
    max-height: 90%;
    min-height: 90%;
    width: 90%;
    border-width: 3px;
    border-color: purple;
    border-style: solid;
}

.card-display {
    display: inline-block;
    width: 23%;
    min-width: 23%;
    max-width: 23%;
    max-height: 100%;
    padding-right: 2%;
    /* opacity: 0.1; */
    /* padding-left: 10px; */
}

.card-display-button {
    border-color: black;
    border-radius: 8px;
    border-style: solid;
    border-width: 3px;
    padding: 0px;
    height: 100%;
    width: 100%;

}

.card-points {
    text-align: right;
    font-weight: bold;
    margin-right: 5px;
    font-size: 30px;
    border-width: 3px;
    border-style: solid;
    border-color: pink;
    border-radius: 5px;
}


/* .card-display:hover { */
/*     margin-top: 8px; */
/* } */


body {
    background-color: #ffffee;
}

.row {
    display: flex;
}
.column-left {
    flex: 34%;
    padding-left: 5px;
    padding-right: 5px;
}

.column-right {
    flex: 66%;
    padding-left: 5px;
    padding-right: 5px;
}

.single-line-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    list-style: none;
    padding: 0px;
    /* white-space: nowrap; */
}

.unstyled-list {
    list-style: none;
    padding-left: 0px;
    
}

.gem-counter {
    border-style: solid;
    border-radius: 50%;
    margin: 5px;
    padding: 10px;
    border-color: 'pink';
    font-size: 24px;
    font-weight: bold;
    border-width: 4px;
}
